<div class="container">
  <h1>Addition of complex numbers</h1>

  <div class="row">
    <div class="span6">
  
      <p>This is the addition view. Here we explore how two complex numbers
        are added. Let z1 and z2 be any two complex numbers. 
        
        If z1 = x1 + iy1 and z2 = x2 + i y2 
        Then sum z3 = z1 + z2 is agebraiically determind by
        
        z3 = (x1 + x2) + i (y1 + y2)   
        
        Geometrically, the sum is determined by the paralellogram law.

        Connect the tip of z2 to the tail of z1 and the vector from 0
        to the tail is z3.
      </p>

      <form class="form-inline" ng-submit="calculatePolar()">
        <legend>z3 = z1 + z2</legend>
        <fieldset>
        <label>z1</label>
        <input type="text"
               class="input-small"
               placeholder="x + iy"
               ng-model="z1"></input>
        <label>z2</label>
        <input type="text"
               class="input-small"
               placeholder="x + iy"
               ng-model="z2"></input>

        <button type="submit" class="btn">enter</button>
        </fieldset>
      </form>

    </div>
    <div class="span6">
        <addition-visualization val="data">
        </addition-visualization>
    </div>
  </div>
</div>
