<script type="text/javascript">
  var svg = d3.select("div.svg-axis").append("svg");
  svg.attr("width", 1440)
  .attr("height", 30)
  .append("g")
  .attr("transform", "translate(0,30)")
  .call(axis);
</script>
<div class="hero-unit">
  <h1>a modern webapp</h1>
  <p>Using yeoman, grunt, bower, npm and node with:</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Geometric Visualization -> the complex plane</h3>
  <a href ="#/addition">addition of complex numbers</a>
</div>
</div>
